@font-face {
    font-family: 'opensansregular';
    src: url('../fonts/opensansregular.eot');
    src: url('../fonts/opensansregular.eot') format('embedded-opentype'),
    url('../fonts/opensansregular.woff2') format('woff2'),
    url('../fonts/opensansregular.woff') format('woff'),
    url('../fonts/opensansregular.ttf') format('truetype'),
    url('../fonts/opensansregular.svg#opensansregular') format('svg');
}

@font-face {
    font-family: 'opensansbold';
    src: url('../fonts/opensansbold.eot');
    src: url('../fonts/opensansbold.eot') format('embedded-opentype'),
    url('../fonts/opensansbold.woff2') format('woff2'),
    url('../fonts/opensansbold.woff') format('woff'),
    url('../fonts/opensansbold.ttf') format('truetype'),
    url('../fonts/opensansbold.svg#opensansbold') format('svg');
}

body {
    font-size: 100%;
    background: url(../img/texture.jpg);
}



.wrapper {
    width: 100%;
    height: auto;
    background: url("../img/texture.jpg") no-repeat center;
    position: relative;
}

.thx-block {
    max-width: 704px;
    border: 10px solid #ffe400;
    padding: 70px;
    margin: 80px auto;
}

h1 {
    font: 2.3rem 'opensansbold';
    margin-bottom: 45px;
}

.thx-block p {
    font: 1.25rem/1.5 'opensansregular';
    color: #808080;
    margin-bottom: 52px;
}

.thx-block p.hand-text {
    font: 1.5rem 'opensansregular';
    color: #808080;
    margin-bottom: 65px;
}

.thx-block a {
    font: 1rem 'opensansbold';
    border-bottom: 2px solid #ffe400;
    color: #000;
    text-decoration: none;
}

.thx-block a:hover {
    border-color: transparent;
}

.footer-thx {
    width: 100%;
    padding: 25px 0;
    color: #fff;
    border-top: 5px solid #ffe400;
}

.footer-thx-block  {
    color: #999999;
    font: 1.25rem 'Open Sans';
    font-weight: 300;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-thx-block p {
    margin-bottom: 8px;
}

.footer-thx-block a {
    color: #999999;
}

@media screen and (max-width: 860px) {
    .thx-wrap {
        padding-left: 20px;
        padding-right: 20px;
    }

    .thx-block {
        padding: 50px;
    }

    .footer-thx-block {
        text-align: center;
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    .thx-block p {
        font: 1rem/1.5 'opensansregular';
    }
}

@media screen and (max-width: 500px) {
    .thx-wrap {
        padding-left: 10px;
        padding-right: 10px;
    }

    .thx-block {
        padding: 35px;
        margin: 48px auto;
    }

    .footer-thx-block {
        text-align: center;
        font-size: 1rem;
    }

    h1 {
        font-size: 1rem;
        margin-bottom: 16px;
    }

    .thx-block p {
        font: 0.875rem/1.5 'opensansregular';
        margin-bottom: 16px;
    }

    .thx-block p.hand-text {
        font: 1rem 'opensansregular';
        margin-bottom: 16px;
    }

    .footer-thx {
        width: 100%;
        padding: 20px 10px;
    }
}